/*************Tag Selectors**************/
h1 {
  color: red;
  font-size: 200px;
}

/*img{
  background-color: red;

}
*/
/**************Class Selectors********/
.bacon {
  background-color: green;
}

.veggie{
  background-color: red;
}
