/*************Tag Selectors**************/
h1 {
  color: red;
  font-size: 200px;
}

img:hover{
  background-color: gold;

}

/**************Class Selectors********Class can be applied to multiple items**/
.bacon {
  background-color: green;
}

.veggie{
  background-color: red;
}

/***********Id Selectors********these are specific**/
#heading {
  color:blue;
}

.circular{
  border-radius: 100%;
}
